.*~
*.swp
*.idea
*.log
*.py[cod]
*.so
*.egg
*.egg-info
*.mo
.env
.meteor
.installed.cfg
.coverage
.tox
.mr.developer.cfg
.project
.pydevproject
venv
instance
build
eggs
parts
bin
var
sdist
develop-eggs
lib
lib64
pip-log.txt
nosetests.xml
